html, body {
	margin: 0;
	padding: 0;
}

body {
  margin:0;
  padding: 20px;
  font: 12px/17px Arial, sans-serif;
  background: #222;
}

div#container {
	margin: 0 auto;
	width: 820px;
	background: blue;
}

#query-view {
	float: left;
	max-width: 400px;
}

#status {
	float: right;
	max-width: 400px;
	height: 100px;
	border: 1px solid black;
}
